p {
  color: rgb(108, 186, 255);
}

.moremar {
  margin-top: -40px;
}

.bgdark {
  background-color: rgb(39, 44, 49);
  border-radius: 10px;
}

.bglight {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}